body {
  background-color: rgb(11, 11, 22);
}

div {
  margin: 0 auto;
  background-color: black;
  height: 400px;
  padding: 20px;
  border-radius: 30px;
}
a {
  color: rgb(210, 15, 15);
  text-decoration: none;
  background-color: rgb(34, 183, 158);
  padding: 10px;
  border-radius: 4px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
ul {
  padding: 10px;
  margin: 10px;
  list-style: none;
}
p {
  text-align: center;
  padding: 20px;
  margin: 40px;
}
.POTO {
  padding: 30px;
  color: aliceblue;
}
